In [2]:
import pandas as pd
df = pd.read_csv('/content/archive (13).zip')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [4]:
drop_cols = [
    'EmployeeCount',
    'EmployeeNumber',
    'Over18',
    'StandardHours',
    'EnvironmentSatisfaction',
    'HourlyRate',
    'NumCompaniesWorked',
    'YearsWithCurrManager',
    'StockOptionLevel',
    'TrainingTimesLastYear',
    'RelationshipSatisfaction',
    'PerformanceRating',
    'Gender',
    'Education',
    'MaritalStatus',
    'DailyRate',
    'MonthlyRate'

]

df.drop(columns=drop_cols, inplace=True)

In [5]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'EducationField', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MonthlyIncome', 'OverTime', 'PercentSalaryHike',
       'TotalWorkingYears', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion'],
      dtype='object')

In [7]:
num = df.select_dtypes(include=['int64','float64'])
corr = num.corr()
corr

,Age,DistanceFromHome,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,PercentSalaryHike,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
Age,1.000000,-0.001686,0.029820,0.509604,-0.004892,0.497855,0.003634,0.680381,-0.021490,0.311309,0.212901,0.216513
DistanceFromHome,-0.001686,1.000000,0.008783,0.005303,-0.003669,-0.017014,0.040235,0.004628,-0.026556,0.009508,0.018845,0.010029
JobInvolvement,0.029820,0.008783,1.000000,-0.012630,-0.021476,-0.015271,-0.017205,-0.005533,-0.014617,-0.021355,0.008717,-0.024184
JobLevel,0.509604,0.005303,-0.012630,1.000000,-0.001944,0.950300,-0.034730,0.782208,0.037818,0.534739,0.389447,0.353885
JobSatisfaction,-0.004892,-0.003669,-0.021476,-0.001944,1.000000,-0.007157,0.020002,-0.020185,-0.019459,-0.003803,-0.002305,-0.018214
MonthlyIncome,0.497855,-0.017014,-0.015271,0.950300,-0.007157,1.000000,-0.027269,0.772893,0.030683,0.514285,0.363818,0.344978
PercentSalaryHike,0.003634,0.040235,-0.017205,-0.034730,0.020002,-0.027269,1.000000,-0.020608,-0.003280,-0.035991,-0.001520,-0.022154
TotalWorkingYears,0.680381,0.004628,-0.005533,0.782208,-0.020185,0.772893,-0.020608,1.000000,0.001008,0.628133,0.460365,0.404858
WorkLifeBalance,-0.021490,-0.026556,-0.014617,0.037818,-0.019459,0.030683,-0.003280,0.001008,1.000000,0.012089,0.049856,0.008941
YearsAtCompany,0.311309,0.009508,-0.021355,0.534739,-0.003803,0.514285,-0.035991,0.628133,0.012089,1.000000,0.758754,0.618409
YearsInCurrentRole,0.212901,0.018845,0.008717,0.389447,-0.002305,0.363818,-0.001520,0.460365,0.049856,0.758754,1.000000,0.548056
YearsSinceLastPromotion,0.216513,0.010029,-0.024184,0.353885,-0.018214,0.344978,-0.022154,0.404858,0.008941,0.618409,0.548056,1.000000

In [8]:
df.drop(
    ['JobLevel' , 'YearsInCurrentRole' , 'YearsSinceLastPromotion','JobRole'] , axis =1 , inplace=True
)

Dropped Features

JobLevel – MonthlyIncome aur TotalWorkingYears ke saath high correlation (duplicate information)

YearsInCurrentRole – YearsAtCompany ke saath strong correlation (redundant tenure feature)

YearsSinceLastPromotion – Weak standalone signal aur tenure features ke saath overlap

In [9]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,EducationField,JobInvolvement,JobSatisfaction,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears,WorkLifeBalance,YearsAtCompany
0,41,Yes,Travel_Rarely,Sales,1,Life Sciences,3,4,5993,Yes,11,8,1,6
1,49,No,Travel_Frequently,Research & Development,8,Life Sciences,2,2,5130,No,23,10,3,10
2,37,Yes,Travel_Rarely,Research & Development,2,Other,2,3,2090,Yes,15,7,3,0
3,33,No,Travel_Frequently,Research & Development,3,Life Sciences,3,3,2909,Yes,11,8,3,8
4,27,No,Travel_Rarely,Research & Development,2,Medical,3,2,3468,No,12,6,3,2

In [10]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'EducationField', 'JobInvolvement', 'JobSatisfaction', 'MonthlyIncome',
       'OverTime', 'PercentSalaryHike', 'TotalWorkingYears', 'WorkLifeBalance',
       'YearsAtCompany'],
      dtype='object')

“From 35 initial features, I selected 15 predictive and non-redundant features after EDA, correlation analysis, and business reasoning.”

In [11]:
X = df.drop('Attrition' , axis=1)
y = df['Attrition']

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [13]:
X_train.head(2)

,Age,BusinessTravel,Department,DistanceFromHome,EducationField,JobInvolvement,JobSatisfaction,MonthlyIncome,OverTime,PercentSalaryHike,TotalWorkingYears,WorkLifeBalance,YearsAtCompany
1194,47,Travel_Rarely,Sales,2,Life Sciences,4,2,15972,No,14,29,3,3
128,22,Travel_Rarely,Research & Development,2,Technical Degree,3,4,2523,No,14,3,3,2

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(),
         ['Age', 'DistanceFromHome', 'MonthlyIncome',
          'TotalWorkingYears', 'PercentSalaryHike', 'YearsAtCompany']),

        ('cat', OneHotEncoder(drop='first', handle_unknown='ignore'),
         ['BusinessTravel', 'Department', 'EducationField']),

        ('bin', OneHotEncoder(drop='if_binary'),
         ['OverTime'])
    ],
    remainder='passthrough'
)

In [15]:
X_train_fe = preprocessor.fit_transform(X_train)

In [16]:
X_test_fe = preprocessor.transform(X_test)

In [17]:
X_train_fe

array([[ 1.09019402, -0.89991452,  2.02675233, ...,  4.        ,
         2.        ,  3.        ],
       [-1.6348276 , -0.89991452, -0.8644084 , ...,  3.        ,
         4.        ,  3.        ],
       [ 0.98119316, -0.77761018,  2.34770578, ...,  3.        ,
         3.        ,  3.        ],
       ...,
       [-1.6348276 , -0.16608847, -0.8798864 , ...,  1.        ,
         1.        ,  2.        ],
       [-0.10881549, -0.89991452,  0.08985307, ...,  3.        ,
         2.        ,  3.        ],
       [ 0.21818711,  1.30156365, -0.51959304, ...,  3.        ,
         4.        ,  3.        ]])

✅ Preprocessing & Feature Engineering Completed

Missing values handled

Irrelevant / ID columns removed

Categorical features encoded

Numerical features cleaned / scaled (where required)

Target variable (Attrition) prepared

📌 Dataset is now clean, numeric, and ML-ready.

👉 Next step: Model training, imbalance handling, and evaluation.